ColumnLimit: 100
IndentWidth: 4
AllowShortCaseExpressionOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
ReflowComments: true
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: true
ForEachMacros: [io_uring_for_each_cqe]
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortCaseLabelsOnASingleLine: true
BreakAfterReturnType: None
Macros:
- DEFER=auto x =
RemoveParentheses: Leave 
AlwaysBreakAfterDefinitionReturnType: None
PackConstructorInitializers: CurrentLine
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: true
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterClass: true
  SplitEmptyRecord: false
